/* Main content */

.main-content {
    padding: 48px 0px;
}

.main-content > p {
    margin-top: 16px;
    margin-bottom: 32px;
}

@media (max-width: 576px) { 
    .sidebar-container {
        display: none;
    }
 }

/* top navbar */

@media (max-width: 800px) {
    #googleSearch {
        display: none !important;
    }
}


/* right spy bar */

aside.spybar,
aside.sidebar {
    padding-top:  3em;
}

.sticky {
    position: fixed;
}


/* Left navibar */


.sidebar-inner-nav > ul {
    padding-left: 1rem;
}

.sidebar-inner-nav > ul > p {
    margin-bottom: 0rem;
}



/* Correct scrolling to anchor */

/* .section-content > h2 {
    scroll-margin-top: 2em;
}

header > h1 {
    scroll-margin-top: 2em;
} */


/* footer */
